div#vertical > ul
{
 background-color:#191970;
 margin:2px;
 padding:1px;
 width:120px;
 height:500px;
 float:left;
}

div#vertical >ul >li
{
 padding:15px;
 position:relative;
 font-family:"Times New Roman";
 font-size:20px;
 color:#191970;
}

div#vertical >ul >li >a
{
 color:#191970;
 text-decoration:none;

}

div#abs_mid
{
 background-color:#191970;
 font-family:"Times New Roman";
 font-size:20;
 color:white;
 padding:1px;
 width: 1150px;
 height: 500px;
 float:right;
}